<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Boolflix</title>
</head>
<body>
  <div id="film">
    <!-- header -->
    <header>
      <div class="container">
        <!-- logo -->
        <img src="logo.png" alt="logo"/>
        <!-- selezione film e serie tv -->
        <div class="text-box">
          <input type="text" name="" value="" placeholder="Inserisci il titolo del film o della serie tv" v-model="textUser" @keyup.enter="searchMovieTvSeries">
          <button type="button" name="button" @click="searchMovieTvSeries">Cerca</button>
        </div>
      </div>
    </header>
    <!-- / header -->
    <!-- contenitore film e serie tv -->
    <div class="movies-container container">
      <!-- film-->
      <div class="movie" v-for="(movie, index) in movies">
        <img src="img/poster.png" v-if="movie.poster_path == null"  alt="" class="poster-empty">
        <img :src="'https://image.tmdb.org/t/p/' + 'w154' + movie.poster_path" alt="" v-else>
        <h3>{{ movie.title }} </h3>
        <p>{{ movie.original_title }} </p>
        <span class="language">{{ movie.original_language }} </span>
        <img :src="'img/' + movie.original_language + '.png'" alt="" v-if="flag.includes(movie.original_language)" class="flags">
        <img :src="movie.original_language" alt="" v-else>
        <span class="vote">{{ Math.ceil(movie.vote_average / 2) }}</span>
        <span :class="starVoteMovie">
          <i class="fas fa-star" v-for="element in starMovie[index]"></i>
          <i class="far fa-star" v-for="element in 5 - starMovie[index]"></i>
        </span>
      </div>
      <!-- / film-->
      <!-- serie tv -->
      <div class="movie" v-for="(serie, index) in seriesTv">
        <img src="img/poster.png" v-if="serie.poster_path == null"  alt="" class="poster-empty">
        <img :src="'https://image.tmdb.org/t/p/' + 'w154' + serie.poster_path" alt="" v-else>
        <h3> {{serie.name }}</h3>
        <p> {{ serie.original_name }}</p>
        <span class="language"> {{ serie.original_language }}</span>
        <img :src="'img/' + serie.original_language + '.png'"  alt="" v-if="flag.includes(serie.original_language)" class="flags">
        <img :src="movie.original_language" alt="" v-else>
        <span class="vote"> {{ Math.ceil(serie.vote_average / 2)}} ></span>
        <span :class="starVoteSeries">
          <i class="fas fa-star" v-for="element in starSeriesTv[index]"></i>
          <i class="far fa-star" v-for="element in 5 - starSeriesTv[index]"></i>
        </span>
      </div>
      <!-- / serie tv -->
    </div>
    <!-- / contenitore film e serie tv -->
  </div>


  <script src="js/script.js" charset="utf-8"></script>

</body>
</html>
